<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/Content/app.css' />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="/Assets/images/gear.svg">
  <title><%= title %></title>
</head>



<body>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Testing Site</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <li>
                  <% if (title == "Home") { %>
                      <a class="nav-link active" href="/">Home</a>
                  <% } else { %>
                      <a class="nav-link" href="/">Home</a>
                          <% } %>
              </li>
              </li>
              <li>
                <% if (title == "About") { %>
                    <a class="nav-link active" href="/about">About</a>
                <% } else { %>
                    <a class="nav-link" href="/about">About</a>
                        <% } %>
              </li>
                  <li>
                      <% if (title == "Products") { %>
                        <a class="nav-link active" href="/products">Products</a>
                    <% } else { %>
                        <a class="nav-link" href="/products">Products</a>
                            <% } %>
                  </li>
                  <li>
                    <% if (title == "Services") { %>
                        <a class="nav-link active" href="/services">Services</a>
                    <% } else { %>
                        <a class="nav-link" href="/services">Services</a>
                            <% } %>
                </li>
                <li>
                  <% if (title == "Contact") { %>
                      <a class="nav-link active" href="/contact">Contact Me</a>
                  <% } else { %>
                      <a class="nav-link" href="/contact">Contact Me</a>
                          <% } %>
              </li>
              <li>
                <% if (title == "Contacts") { %>
                    <a class="nav-link active" href="contact-list">Contact list</a>
                <% } else { %>
                    <a class="nav-link" href="contact-list">Contact list</a>
                        <% } %>
            </li>
              
            </ul>
          
            <div class="navbar-text">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <% if(typeof displayName == 'string' && displayName) { %>
                  <li class="item" style="font-weight: bold; color: #AE6E4E"><a class="nav-link">Welcome, <%= displayName %></a></li>
                  <li class="item"><a class="nav-link" href="logout">Logout</a></li>
                <% } else { %> 
                  <li class="item"><a class="nav-link" href="login">Login</a></li>
                <% } %>
        
                
        
              </ul>
            </div>
          </div>

          
        </div>
      </nav>
      
    