<%- include ('partials/header') %>

<br><br><br>
<% for(let count = 0; count < BlogList.length; count++) { %>

<div class="BlogPostsWrapper">
    <div class="jumbotron jumbotron-fluid BlogPost">
      <div class="container">
        <h3 class="display-6"`><%=BlogList[count].blogheader%></h3><hr>
        <p class="lead"><%=BlogList[count].blogpost%></p>
      </div>
    </div>
  </div>
    

</div>
<% } %>
<p class="footy">&copy;Gordon Vlasic</p>