<%- include ('partials/header') %>


<div class="jumbotron jumbotron-fluid MainJumbotron">
    <div class="container">
      <h1 class="display-4"><%=title%></h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>

<div class="BlogPostsWrapper">

  <div class="BlogPost">
    <h1>This is blog post 1</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Amet, eligendi tenetur temporibus omnis, nobis dolorem nulla quisquam fugiat, 
      provident cumque quo corporis. Quam accusamus delectus veritatis ducimus id qui soluta.</p>
  </div>

  <div class="BlogPost">
    <h1>This is blog post 2</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Amet, eligendi tenetur temporibus omnis, nobis dolorem nulla quisquam fugiat, 
      provident cumque quo corporis. Quam accusamus delectus veritatis ducimus id qui soluta.</p>
  </div>
    

</div>

  <%- include ('partials/footer') %>