<link rel='stylesheet' href='/Content/index.css'/>



  <!--Partial to here for header-->
  <div class="IndexContainer">

    <div class="jumbotron MainJumbotron">
      <h1 class="display-4">Hello,<br>Welcome to the developmental server<br>You are on the <%= title %> page.</h1>
    </div>





  </div>
