.black{
    color: black;

}
.active{
    background-color: #00FFBE;
}

.nav-link.active:hover{
    background-color: blue;
    transition: all .2s ease;
}
.navbar{
    z-index: 1;
}
.nav-link {

    letter-spacing: 1px;
    color: black;
    display: inline-block;
    line-height: 100%;
    position: relative;
    text-decoration: none;
    z-index: 0;
    -webkit-transition: border-color .35s ease, background .35s ease;
    transition: border-color .35s ease, background .35s ease;
}
.footy{
    position: fixed;
    top: 56rem;
    right: 2rem;
}
.nav-link:before {
    background-color: #00FFBE;
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
}

.nav-link:hover:before {
    top: 0;
}

.nav-link:hover{
  color:#2A4556;
  transition:0.25s;
}

.nav-link:after {
    position: absolute;
    right: 2.34375rem;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(50%);
    -ms-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
    font-size: 1.75em;
}

.nav-link {
    padding: 1rem 2rem;
}



html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body{
    height: 115vh;
    display: flex;
    flex-direction: column;
}

.FooterContainer{

    margin-top: auto;
    width: 100%;
    background-color: #f5f5f5;
}
.MainJumbotron{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
}
.yup{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.jumbotron{
    text-align: center;
    padding-left: 25%;
    width: 100%;
    padding-right: 25%;
}
.TableWrapper{
    width: 75%;
}
.two{
    padding-bottom: 5rem;
}
.col-md-6{
    padding-bottom: 1rem;
}
.col-md-12{
    padding-bottom: 1rem;
}
.mb-4{
    padding: 2rem;
    background-color: rgba(0, 0, 0, .8);
    color: white;
}
.navbar.navbar-expand-lg.bg-light{
    position: fixed;
    width: 100%;
}
.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .8);
    width: 5%;
}
.Bottomtext{

    display: flex;
    flex-wrap: nowrap;

}
.fa-instagram{
    padding-top: 5px;
    font-size: 40px;
    color: white;
}
.fa-snapchat{
    font-size: 40px;
    color: white;
}
.fa-twitter{
    font-size: 40px;
    color: white;
    padding-bottom: 5px;
}
a:link { color: black; }
.topnav-right{
    float: right;
}

@media (min-width: 992px){
.navright {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
}
}
.BlogPostsWrapper{
    padding-top: 2%;
}
