.FooterContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}
.MainJumbotron{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
}
.yup{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}
.TableWrapper{
    width: 75%;
}
.two{
    padding-bottom: 5rem;
}
.col-md-6{
    padding-bottom: 1rem;
}
.col-md-12{
    padding-bottom: 1rem;
}